p {
            font-size: 1em;
}
body{
    background:#0000ff;
    background-image: url('http://fondos.gratis.es/fondos_webs/azul_claro/fondo/celeste18.jpg') no-repeat;
    color:#666;
}

#seccionListas{
    background: yellow;
}
li.eRojo{
    color:#FF0000;
}
/*#seccionListas{
    color:#FF0000;
}*/
h2.cRojo{
    color:#00FF00;
    font-size:8pt;
}
.titulo{
    border: 1px dashed #FFFFFF;
    border-radius:15px 0px 30px 10px;
}